# Environment setup
.venv/
.env

# Datasets and logs of evaluation results
data/

# Byte-compiled / optimized
**/__pycache__/

# Tests
**/.pytest_cache/
.coverage

# Ruff
**/.ruff_cache/

# Logs
logs/

# IDE settings
.vscode/

# Source distribution and binary artifacts
dist/

# OpenSpec skills
# These are not specific to this repository, but rather are generated
# by `openspec init --tools "antigravity,claude"`, so they don't need to be checked into
# source control.
.agent/skills/openspec*
.claude/skills/openspec*
